<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<base href="{{ REQUEST_ROOT }}"/>
	<link rel="shortcut icon" href="public/img/favicon.png">
	<title>Car assist</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script type="text/javascript">
		var modelOption = $("<option selected='selected'></option>").val({{ MODEL_ID }}).text("{{ MODEL_NAME }}");
	</script>
	<script src="public/js/my_jquery_extensions.js"></script>    
    <script src="public/js/car/car_editors_init.js"></script>
	<script src="public/js/car/car_edit.js"></script>
	<script src="public/js/menu.js"></script>
</head>

<body>
{{ include('menu.tpl') }}
	<h1>My Car:</h1>
	<form id="car_create">
		<input id="car_id" name="id" type="hidden" disabled="true" value="{{ ID }}"/>
		
		<label for="model_id">Model:</label>
		<select id="model_id" name="model_id" class="js-example-data-ajax form-control">
		</select>

		<label for="chassis_number">Chassis number:</label>
		<input id="chassis_number" name="chassis_number" class="form-control" type="text" value="{{ CHASSIS_NUMBER }}"/>
		
		<input type="submit" value="Send">
	</form>
	<a href="{{ CAR_LIST_URL }}">Back
		to Car list</a>

</body>

</html>