<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<base href="{{ REQUEST_ROOT }}"/>
    <link rel="shortcut icon" href="public/img/favicon.png">
    <title>Car assist</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/my_styles.css">
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="public/js/my_jquery_extensions.js"></script>
	<script src="public/js/manufacturer/manufacturer_check_data.js"></script>
	<script src="public/js/manufacturer/manufacturer_create.js"></script>
	<script src="public/js/menu.js"></script>
</head>

<body>
{{ include('menu.tpl') }}
	<form id="manufacturer_create">
		<h1>Create Manufacturer:</h1>
		<label for="manufacturer_name">Manufacturer name:</label>
		<input id="manufacturer_name" name="name" class="form-control" type="text"/>
		<input type="submit" value="Send" class="ui-button">
	</form>
		<a href="{{ MANUFACTURER_LIST_URL }}">Back
			to manufacturer list</a>
</body>

</html>