<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ REQUEST_ROOT }}"/>
    <link rel="shortcut icon" href="public/img/favicon.png">
    <title>Car Assist</title>
    
    {{ include('list_headers.tpl') }}

	<script src="public/js/menu.js"></script>        
    <script src="public/js/model/model_list.js"></script>
</head>
<body>
{{ include('menu.tpl') }}
	<section>
		<h1>Model:</h1>
        <table id="myTable" class="display nowrap" style="width:100%">
        </table>		
        <button onclick="window.location.href='model/create'" class="ui-button">Create new Model</button>
        <a href="{{ HOMEPAGE_URL }}">Back to homepage</a>
	<section>
</body>
</html>